@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

::-webkit-scrollbar-track:hover {
  background-color: #f2f2f2;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

html {
  background: #202123;
}

@keyframes fade {

  0%,
  100% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
  }
}

.dot {
  @apply w-2 h-2 bg-black dark:bg-white rounded-full mx-1;
  /* Adjust width, height, background color as needed */
}

.animate-fade {
  @apply inline-block;
  animation: fade 0.9s infinite;
}

.animate-fade200 {
  @apply inline-block;
  animation: fade 0.9s infinite;
  animation-delay: 0.3s;
}

.animate-fade400 {
  @apply inline-block;
  animation: fade 0.9s infinite;
  animation-delay: 0.6s;
}

@media (max-width: 720px) {
  pre {
    width: calc(100vw - 110px);
  }
}

pre:has(div.codeblock) {
  padding: 0;
}